* {
  font-family: "Inter Nerd Font", sans-serif;
  font-size: 14px;
}

window#waybar {
  background-color: rgba(43, 48, 59, 0);
  color: #ffffff;
}

window#waybar.hidden {
  opacity: 0.2;
}

#workspaces button {
  padding: 0 5px;
  background-color: transparent;
  color: #ffffff;
  border-bottom: 3px solid transparent;
}

#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
  box-shadow: inherit;
  border-bottom: 3px solid #ffffff;
}

#workspaces button.active {
  background-color: rgba(100, 114, 125, 0.4);
  border-bottom: 3px solid #ffffff;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#cpu,
#temperature.cpu,
#network,
#pulseaudio,
#pulseaudio.microphone,
#clock,
#tray {
  padding: 0 10px;
  margin: 0 4px;
  color: #ffffff;
  border-radius: 10px;
}

#cpu {
  background-color: rgba(43, 48, 59, 0.5);
}

#temperature.cpu {
  background-color: rgba(43, 48, 59, 0.5);
}

#network {
  background-color: rgba(43, 48, 59, 0.5);
}

#pulseaudio {
  background-color: rgba(43, 48, 59, 0.5);
}

#pulseaudio.microphone {
  background-color: rgba(43, 48, 59, 0.5);
}

#clock {
  background-color: rgba(43, 48, 59, 0.5);
}

#tray {
  background-color: rgba(43, 48, 59, 0.5);
}

#tray>.passive {
  -gtk-icon-effect: dim;
}

#tray>.needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}